backend/auth/node_modules/
backend/shop/node_modules/
backend/order/node_modules/
backend/notification/node_modules/

backend/auth/dist/
backend/shop/dist/
backend/order/dist/
backend/notification/dist/

#auth/.env
#shop/.env
#payment/.env

backend/auth/.build/
backend/shop/.build/
backend/order/.build/
backend/notification/.build/

backend/notification/credentials.json


#------------------------------
frontend/node_modules/

#------------------------------
design/node_modules/