backend/auth/node_modules/
backend/shop/node_modules/
backend/order/node_modules/

backend/auth/dist/
backend/shop/dist/
backend/order/dist/

#auth/.env
#shop/.env
#payment/.env

backend/auth/.build/
backend/shop/.build/
backend/order/.build/


#------------------------------
frontend/node_modules/

#------------------------------
design/node_modules/