backend/auth/node_modules/
backend/shop/node_modules/
backend/order/node_modules/
backend/notification/node_modules/
backend/task/node_modules/

backend/auth/dist/
backend/shop/dist/
backend/order/dist/
backend/notification/dist/
backend/task/dist/

#auth/.env
#shop/.env
#payment/.env
backend/order/.env.prod

backend/auth/.build/
backend/shop/.build/
backend/order/.build/
backend/notification/.build/
backend/task/.build/

backend/notification/credentials.json


#------------------------------
frontend/node_modules/
frontend/.env

#------------------------------
design/node_modules/