PORT=4002
HOST=http://localhost:4002
MONGO_DB_URI=mongodb+srv://vady123:vady123!@proyectos.bihss.mongodb.net/
PAYPAL_CLIENT_ID=Adv4-vn5WTeMsQPL-L9Sbr6XAepKmC--ZzhJgeEPKLw-tiGGCQSyctJaQA8CF2W6R3u63qodmmJOMzxc
PAYPAL_CLIENT_SECRET=ECYYg4W7TUQ6hBG45NpEYJLInppyyKKpOAGaDoCSbZmqPaYuqvVemuzAJs1b4JvtXszetaqUpoyn0zdB
PAYPAL_API_BASE_URL=https://api-m.sandbox.paypal.com